# For all strings containing special characters, use single quotes.
# In case of older docker compose versions (<3.9), do not use single or double quotes at all.

# Container's docker environment configuration.
COMPOSE_PROJECT_NAME='lowercase_string_without_special_characters'

# Redis does not have username, but something calling ACL, so until investigation, just use password.
# Use a password which does not contains special character for Redis, because a lot of packages (redBeat Scheduler: https://github.com/sibson/redbeat/issues/202), do not support it.
RABBITMQ_HOST='string_with_special_characters'
REDIS_PORT=1234
REDIS_PASSWORD="string_without_special_characters"

# Redis Commander's docker environment configuration.
REDIS_COMMANDER_PORT=5678
REDIS_COMMANDER_USER="string_with_special_characters"
REDIS_COMMANDER_PASSWORD='string_with_special_characters'
