# For all strings containing special characters, use single quotes.
# In case of older docker compose versions (<3.9), do not use single or double quotes at all.

# Container's docker environment configuration.
COMPOSE_PROJECT_NAME='lowercase_string_without_special_characters'

# Flower's docker environment configuration.
FLOWER_PORT=5555
FLOWER_USER='string_with_special_characters'
FLOWER_PASSWORD='string_with_special_characters'

# RabbitMQ's docker environment configuration.
# These must match the actual RabbitMQ broker Flower connects to.
RABBITMQ_HOST='string_with_special_characters'
RABBITMQ_PORT=1234
RABBITMQ_USER='string_with_special_characters'
RABBITMQ_PASSWORD='string_with_special_characters'
