# For all strings containing special characters, use single quotes.
# In case of older docker compose versions (<3.9), do not use single or double quotes at all.

# Container's docker environment configuration.
COMPOSE_PROJECT_NAME='{{ project_slug }}'

# GlitchTip's docker environment configuration.
SECRET_KEY='{{ project_slug }}_secret_key'
DATABASE_URL='postgres://{{ project_slug }}:{{ project_slug }}@postgresql:5432/{{ project_slug }}'
REDIS_URL='redis://:{{ project_slug }}@redis:6379/0'
ENABLE_USER_REGISTRATION='false'
DEFAULT_FROM_EMAIL='{{ project_slug }}@example.com'
