# For all strings containing special characters, use single quotes.
# In case of older docker compose versions (<3.9), do not use single or double quotes at all.

# Container's docker environment configuration.
COMPOSE_PROJECT_NAME="lowercase_string_without_special_characters"

# GlitchTip's docker environment configuration.
GLITCHTIP_PORT=1234
SECRET_KEY='string_with_special_characters'
DATABASE_URL='string_with_special_characters'
REDIS_URL='string_with_special_characters'
ENABLE_USER_REGISTRATION='false'
DEFAULT_FROM_EMAIL='string_with_special_characters'
