# For all strings containing special characters, use single quotes.
# In case of older docker compose versions (<3.9), do not use single or double quotes at all.

# Container's docker environment configuration.
COMPOSE_PROJECT_NAME='lowercase_string_without_special_characters'

# MinIO's docker environment configuration.
MINIO_ROOT_USER='string_without_special_characters'
MINIO_ROOT_PASSWORD='string_without_special_characters'
MINIO_API_PORT=1234
MINIO_CONSOLE_PORT=1234
MINIO_DEFAULT_BUCKET='lowercase_string_without_special_characters'
