# For all strings containing special characters, use single quotes.
# In case of older docker compose versions (<3.9), do not use single or double quotes at all.

# Container's docker environment configuration.
COMPOSE_PROJECT_NAME="lowercase_string_without_special_characters"

# Mailpit's docker environment configuration.
MAILPIT_SMTP_PORT=1234
MAILPIT_PORT=5678
MAILPIT_SMTP_AUTH_ACCEPT_ANY=true
MAILPIT_SMTP_AUTH_ALLOW_INSECURE=true
