# For all strings containing special characters, use single quotes.
# In case of older docker compose versions (<3.9), do not use single or double quotes at all.

# Container's docker environment configuration.
COMPOSE_PROJECT_NAME='lowercase_string_without_special_characters'
TIMEZONE="Region/Country"

# LinkStack's docker environment configuration.
LINKSTACK_HTTP_PORT=1234
LINKSTACK_HTTPS_PORT=5678
LINKSTACK_SERVER_ADMIN='string_with_special_characters'
LINKSTACK_HTTP_SERVER_NAME='string_with_special_characters'
LINKSTACK_HTTPS_SERVER_NAME='string_with_special_characters'
LINKSTACK_LOG_LEVEL='info'
LINKSTACK_PHP_MEMORY_LIMIT='256M'
LINKSTACK_UPLOAD_MAX_FILESIZE='8M'
