# For all strings containing special characters, use single quotes.
# In case of older docker compose versions (<3.9), do not use single or double quotes at all.

# Container's docker environment configuration.
COMPOSE_PROJECT_NAME='lowercase_string_without_special_characters'

# HashiCorp's docker environment configuration.
# This only controls the host-side port, the container always listens on 8200 internally.
HASHICORP_PORT=1234
